<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="favicon.ico">
    <title>Explore Byte Tutorial</title>
    
    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <!-- Bootstrap theme -->
    <link href="css/bootstrap-theme.min.css" rel="stylesheet">
    <!-- Custom styles for this project -->
    <link href="css/explore.css" rel="stylesheet">
  </head>
  
  <body role="document">
    
    <!-- Fixed navbar -->
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container" >
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="about">About This Data Set</a></li>
	    <li><a href="quality">Data Quality</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
    
    <div class="container theme-showcase" role="main">
      
      <!-- Main jumbotron for a primary marketing message or call to action -->
      <div class="jumbotron">
	<h1>Exploratory Analysis: SanFransico Salaries vs Job Type  </h1>
        <b><p>The purpose of this project is to discover the impacts Job Status and Job Types have on employees’ salaries. 
</p></b>
      </div>
      <div class="container" >
      <div class="page-header">
<ul>
    <h2>Job Status vs Salaries</h2>
    <li>There is only two type of job status in this dataset: full time and part time. It is obvious to assume that part time employees are compensated much less than the full time employees since the city uses them much less. To confirm this assumption, I used a density plot to represent the distribution of salaries instead of a Histogram since it allows smoother distributions by smoothing out the noise.</li>
    <li>In this dataset, there are 3 kinds of compensations: base pay, overtime pay, and benefits. First, let’s take a look at the total payment distribution in following plot. We can clearly see the difference between the two status. Part time employees got paid much less than full time employees.</li>
<center>    <img src="../img/TotalPay.png" alt="Total Pay" width="600" height="400">    </center>
    <li>Then let’s breakdown the total pay and see distribution for those three types of compensations. For base pay distribution, it’s following a similar pattern than the total pay as it represents the majority of total pay for most employees. There are a few spikes in the distribution for full time employees. 
</li>
<center>    <img src="../img/BasePay.png" alt="Base Pay" width="600" height="400">    </center>
    <li>For overtime pay, it is not difficult to make the assumption that most people have overtime pay at around 0. However, there is an outlier in full time distribution: someone made more than $170,000 just from overtime pay. This is a bit odd. 
</li>
<center>    <img src="../img/OverTimePay.png" alt="Over Time Pay" width="600" height="400">    </center>
    <li>Finally, when looking at the benefits distribution, we can also see a large difference between full time and part time workers. It is clear that full time workers get much more benefits than part time workers.
</li>
<center>    <img src="../img/Benefits.png" alt="Benefits Pay" width="600" height="400">    </center>
    <li>As a conclusion, we can confirm the previous assuption that part time employees are compensated much less than the full time employees since the city uses them much less</li>
          </ul>     
<ul>
    <h2>Job Type vs Salaries</h2>
    <li>It’s more difficult to find the relationship between job types and employees’ salaries. First, I tried to categorize all the job types into 23 types. Following bar chart shows the average pay for all 23 job types. The 5 highest paying jobs are: fire department, attorney, police, architectural, and engineering. This matches with our common sense since fire department and police department both encounter more risks. Attorney, architectural and engineering field require more education background comparing to the other job types.  
</li>
    <center><iframe width="500" height="300" scrolling="no" frameborder="no" src="https://fusiontables.google.com/embedviz?containerId=googft-gviz-canvas&amp;q=select+col0%2C+col1+from+1U9-xPsscvYIZi3TDRnTINGRyGqub5mTYroSWml3f+order+by+col1+asc+limit+23&amp;viz=GVIZ&amp;t=COLUMN&amp;uiversion=2&amp;gco_forceIFrame=true&amp;gco_hasLabelsColumn=true&amp;width=500&amp;height=300"></iframe></center>
<li>Following pie chart provide us a better understanding of SanFrancisco employees’ demographic. According to this dataset, the most common job types are clerk, engineering, and custodian. It is interested to see that even though clerks are the most common job type, they only got paid 3rd to the last in all 23 job types.</li>
    <center><iframe width="500" height="300" scrolling="no" frameborder="no" src="https://fusiontables.google.com/embedviz?containerId=googft-gviz-canvas&amp;q=select+col0%2C+SUM(col2)+from+1U9-xPsscvYIZi3TDRnTINGRyGqub5mTYroSWml3f+group+by+col0+order+by+col0+asc+limit+10&amp;viz=GVIZ&amp;t=PIE&amp;uiversion=2&amp;gco_forceIFrame=true&amp;gco_hasLabelsColumn=true&amp;width=500&amp;height=300"></iframe></center>
<li>As a conclusion, job type does have impacts on employee’s salaries and they are depended on the risk involved as well as the education level required for this job type. The more risk or higher education level the job require, the higher the worker is being paid.     
</li>
          </ul>

      </div> <!-- /page-header -->
    </div> <!-- /container -->
    
    <div class="button-toolbar" role="toolbar" id="headers" name="headers">
      {% for column in allheaders %}
      <button type="button" class = "btn-space btn btn-info" id="{{column}}" onclick="updateTable('{{column}}')">{{column}}</button>
      {% endfor %}
    </div>
    
    <div class="table-responsive">
	  <table class="table table-striped table-hover">
	    <thead class="thead-inverse">
	     <tr> 
	{% for item in headers %}
	         <th>{{ item }}</th>
	{% endfor %}
	     </tr>
	    </thead>
	    <tbody>
	{% for row in content %}
	     <tr>
	  {% for datum in row %}
	            <td>{{ datum }} </td>
	  {% endfor %}
	     </tr>
	{% endfor %}
	    </tbody>
	   </table>
	</div> 


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="js/jquery-1.11.3.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script>
	function updateTable(str) {
		console.log("in updateTable");
		console.log(str);

	    // error checking: ignore buttons that don't have a title!
		if (str == "") {
			return;
		}

	    // find the actual button in this document's HTML
		button = document.getElementById(str);
		// for debugging, write its name to the console
		console.log(button.className);
		// check if it is disabled (btn-info)
		if (button.className.includes("btn-info")) {
			// and enable it (btn-primary)
			button.className = "btn btn-space btn-primary";
		} else {
			// otherwise disable it (btn-info)
			button.className = "btn btn-space btn-info";
		}

		// now get all the buttons
		buttons = document.getElementById("headers").children;
		// and collect their names in cols
		cols = [];
		// loop through them
		for (button in buttons) {
			// grab the id (the name we need is there)
			id = buttons[button].id;
			// make sure it isn't null
			if (buttons[button].id != null) {
				// and that the button is selected 
				var isPrimary = buttons[button].className.includes("btn-primary");
				if (isPrimary && (cols.indexOf(id) == -1)) {
					// if so, add it to our array
					cols.push(id);
				}
			}
		}
					
		$.ajax({
			url: '/_update_table',
			dataType: 'json',
			contentType: 'application/json',
			data: JSON.stringify({'cols' : cols}),
			type: 'POST',
			success: function (res, status) {
				console.log("successrunning");
				console.log(res["content"]);
				console.log(res["headers"]);
				var cols = res["headers"];
				var rows = res["content"];

				// get the table, columns and rows
				table = document.getElementById("data");
				headers = document.getElementById("cols");
				body = document.getElementById("rows");

				// delete current contents
				headers.innerHTML='';
				body.innerHTML = '';

				// and put the new information in the table
				for (col in cols) {
					cell = document.createElement("th");
					cell.innerHTML = cols[col];
					headers.appendChild(cell);
				}
				for (row in rows) {
					tr = document.createElement("tr");
					for (item in rows[row]) {
						td = document.createElement("td");
						td.innerHTML = rows[row][item];
						tr.appendChild(td);
					}
					body.appendChild(tr);
				}
			},
			error: function(res, status) {
				// On Error
				alert('error');
			}
		});
	}
				
				   
				   
</script>
</body>
</html>
