<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="favicon.ico">
    <title>Quality of This Data</title>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <!-- Bootstrap theme -->
    <link href="css/bootstrap-theme.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="css/theme.css" rel="stylesheet">
  </head>

  <body role="document">

    <!-- Fixed navbar -->
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="/">Home</a></li>
            <li><a href="about">About This Data Set</a></li>
	    <li  class="active"><a href="quality">Data Quality</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <div class="container theme-showcase" role="main">

      <!-- Main jumbotron for a primary marketing message or call to action -->
      <div class="jumbotron">
	<h1>Quality: About This Data Set</h1>
        <p>Write a brief summary about the quality of the data set here</a></p>
      </div>

    
      <div class="page-header">
	<h2>Is the data complete?</h2>
	<ul>
	<li>If not, what is missing and what concerns does it raise?
	What is your evidence for this?</li>
	<li>This is a large dataset containing salaries of 148,654 observations in Sanfransico from 2011 to 2014. Due to the complexity of this dataset, it is susceptible to incompleteness. </li>
    <li>As shown in following table, FT(full time) status was only filled out for the year of 2014. The previous three years people were not categorized. Whatsmore, even in 2014, there is 4 missing value. These 4 persons do not have any values entered into the system including employee name. This would introduce bias when analyzing job status of this dataset. </li>

        <style>
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}


td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}
</style>
</head>
<body>

<table>
  <tr>
    <th>Status</th>
    <th>2011</th>
    <th>2012</th>
    <th>2013</th>
    <th>2014</th>
  </tr>
  <tr>
    <td>Fulltime</td>
    <td>NA</td>
    <td>NA</td>
    <td>NA</td>
    <td>22334</td>
  </tr>
  <tr>
    <td>Parttime</td>
    <td>NA</td>
    <td>NA</td>
    <td>NA</td>
    <td>15785</td>
  </tr>
  <tr>
  </tr>
</table>
    <li> There is also 36,160 entires of Benefits missing in the dataset.This would introduce bias when analyzing benefits of this dataset.
    </li> 

	</ul>
      </div>
      
      <div class="page-header">
    <ul>
	<h2>Is the data coherent?</h2>
	<li>Does it make sense relative to itself? Does it match your
	expectations? Are the distributions sensible? What is your
	evidence for this?</li>
    <li>The data makes sense in most cases. The histogram below makes the structure of the data much clearer - the base salary distributions all seem to follow the same pattern over the years. It also appears that 2014 may have had a slight increase relative to previous years.</li> 
    <img src="BaseSalaries.png" alt="HTML5 Icon" width="600" height="400">         
    <li> Additionally, Part Time (PT) employees are compensated according to how much the city uses them - which is very little comparing to Full Time (FT).</li>
    <img src="TotalPay.png" alt="HTML5 Icon" width="600" height="400">    
    </ul>
      </div>

      <div class="page-header">
     <ul>
	<h2>Is the data correct?</h2>
	<li>What aspects of this data can you verify? How did you do so? What did
	you find?</li>
    <li>This dataset is mostly correct. I cross-examined different sources, and the values are very similar. Whatsmore, the organization Transparent California is provided by the Nevada Policy Research Institute as a public service and is dedicated to providing accurate, comprehensive and easily searchable information on the compensation of public employees in California. Therefore, I made the assumption that the dataset is correct.</li>     
   <li> However, there are some some minor error/outliers in this dataset. As shown in table below, there is one person that has negative total pay. This does not make sense at all. This might be caused by an entry error.
   </li>
<style>
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}
</style>
</head>
<body>

<table>
  <tr>
    <th>Id</th>
    <th>EmployeeName</th>
    <th>JobTitle</th>
    <th>BasePay</th>
    <th>OvertimePay</th>
    <th>OhterPay</th>
    <th>Benefits</th>
    <th>TotalPay</th>
    <th>TotalPayBenefits</th>
    <th>Year</th>
    <th>Notes</th>
    <th>Agency</th>
    <th>Status</th>
  </tr>
  <tr>
    <td>148654</td>
    <td>Joe Lopez</td>
    <td>Counselor, Log Cabin Ranch</td>
    <td>0.0</td>
    <td>0.0</td>
    <td>-618.13</td>
    <td>0.00</td>
    <td>-618.13</td>
    <td>-618.13</td>
    <td>2014</td>
    <td> </td>
    <td>San Francisco</td>
    <td>PT</td>
  </tr>
</table>
    
   <li> There is also someone who made over $150,000 in overtime. As shown below, it is highly above all other</li>
         <img src="OvertimePay.png" alt="HTML5 Icon" width="600" height="400">
   
         
       
    </ul>
      </div>

    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="js/jquery-1.11.3.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/docs.min.js"></script>
  </body>
</html>
